*{ margin: 0;
   padding: 0;
   box-sizing: border-box;}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1{
    animation: trocar-cor 2s infinite;
    
}

@keyframes flutuar {
    0% {
        transform: translateX(70px); scale: (5);
    }

    25% {
        transform: translateY(-60px); scale: (5);

    }

    50%{

        transform: translateX(50px); scale: (5);

    }

    75%{

        transform: translateY(-60px); scale: (5);

    }

    100%{ transform: translateX(50px); scale (5)

    }

    
}

@keyframes trocar-cor { 
0%{ opacity: 0;
}      

}

img {
    animation: flutuar 5s infinite linear ;
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

@keyframes rodar {
    0% {
        transform: rotate(360deg);

    }

    
}

.load{
    width: 600px;
    height: 50px;
    border: 4px solid black;
    border-radius: 100px;
    

}

.div-filho {
background-color: black;
height: 100% ;
width: 100%;
border-radius: 100px;
animation: load ease-in 10s;
}

@keyframes load {
    0%{
        width: 10%;
    }
    20%{
        width: 20%;
    }
    50%{
        width: 50%;
    }
    70%{
        width: 70%;
    }
    100%{
        width: 100%;
    }
  

}