*{
    margin-top: 0;
    padding: 0;
}

h1{
    margin: 50px;
    padding: 50px;
    color: violet;
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    text-transform:uppercase;
    font-weight:bold;
    font-family: monospace;
    letter-spacing: 5px; 
    text-align:right;
    text-align:left;
    text-align: center;

    border-radius: 30px;
    border: solid rgb(255, 0, 174) 5px;
    box-shadow: violet 20px 20px 40px;

}
p{ 
    text-align: justify;
}