*{
    margin: 0px;
    padding: 0px;

}

h1{
    width: 500px;
    height: 500px;
    padding: 20px;
    border: black solid 10px;
    font-size: 50px;
    color:violet ;
    background-color: transparent;

}

a{
    display: inline block;
    text-decoration: none;
    background: violet;
    color: white;
    padding: 10px 30px;
    margin: 20px;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: monospace;
    transition: 500ms;
    border: 4px solid transparent;
}

a:hover{
    background-color: rgb(43, 3, 43);
    border: 4px solid black;

    


    
}